<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>

        <%- include('./partials/nav.ejs') %>

            <h1>I am in contact file</h1>

    </body>
    
    <%- include('./partials/footer.ejs') %>

</html>